# Objects and dependencies
*.d
*.o
*.exe

# Latex
*.aux
*.bib
*.bbl
*.bcf
*.blg
*.dvi
*.fdb*
*.fls
*.ilg
*.log
*.nlo
*.nls
*.synctex.gz
*.toc
*.xml

# User directory
user*
src/main.cpp

# Plots, for now
plots*

# Vscode settings
*.json

*-SAVE-ERROR